<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= doctor.location %>
  </p>

  <p>
    <strong>Working hours:</strong>
    <%= doctor.working_hours %>
  </p>

</div>
