<div class="col-6 col-lg-auto row gx-2 mb-3">
  <div class="col-auto lh-sm">
    <%= show_svg('Time Square.svg') %>
  </div>
  <div class="col-auto my-auto fs-6">
    Select a date
  </div>
</div>

<div class="row">
  <div id="date-picker" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="false" data-bs-wrap="false">
    <div class="carousel-inner container-fluid g-0 text-center">
      <div class="carousel-item active">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Today</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Tom</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Day After</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Day Day After</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Day Day Day After</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mx-auto">
          <div class="col-4">
            <div class="row mx-auto"><div class="col">Day Day Day Day After</div></div>
            <div class="row mx-auto"><div class="col">Feb</div></div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#date-picker" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#date-picker" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>