<div class="col-6 col-lg-auto row gx-2">
  <div class="col-auto lh-sm">
    <%= show_svg('Time Square.svg') %>
  </div>
  <div class="col-auto my-auto fs-6">
    Select a date
  </div>
</div>

<div id="date-picker-carousel" class="carousel slide" data-ride="carousel" data-bs-interval="false" data-wrap="false">
  <div class="carousel-inner text-center">
    <div class="carousel-item active">
      A
    </div>
    <div class="carousel-item">
      B
    </div>
    <div class="carousel-item">
      C
    </div>
  </div>
  <a class="carousel-control-prev" href="#date-picker-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#date-picker-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>