<div id="appointment-list-form">

  <div class="d-none d-lg-block py-5 my-4"></div>

  <div class="row my-5">
    <div class="col text-center fw-bolder fs-4">
      Enter your email address
    </div>
  </div>

  <%= form_tag(list_appointment_path) do %>
    <div class="row">
      <div class="col col-lg-5 mx-auto">
        <%= email_field_tag :email, nil, class: "form-control py-3 border border-2 fs-6" %>
      </div>
    </div>
    <% if response.response_code == 422 %>
      <div class="row">
        <div class="col col-lg-5 mx-auto px-4 text-danger">
          Invalid email address
        </div>
    </div>
    <% end %>

    <div class="row my-5">
      <div class="col col-lg-5 mx-auto">
        <%= submit_tag "Submit", class:"btn btn-primary w-100 py-4 payment" %>
      </div>
    </div>
  <% end %>

</div>